{% extends 'base.html' %}
{% block redirect_home %}
		<li class="nav-item p-3">
			<a href="{% url 'user_app:home' %}" class="nav-link active accounts">

				HOME
			</a>
		</li>
		
{% endblock redirect_home %}
{% block login %}
{% endblock login %}
{% block register %}
		{{block.super}}
		{% endblock register %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
{{block.super}}
		<link href="{% static 'assets/css/pages/login/login-1.css' %}" rel="stylesheet" type="text/css" />
{% endblock css  %}

		{% block content %}
		
		{{block.super}}
		<div class="d-flex flex-column flex-root">
			<!--begin::Login-->
			<div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
				<!--begin::Content-->
				<div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
					<!--begin::Content body-->
					<div class="d-flex flex-column-fluid flex-center">
						<!--begin::Signin-->
						<div class="login-form login-signin">
							<!--begin::Form-->
							<form class="form" method="POST" >
                                <h1 class="text-center">LOGIN</h1>
                                {% csrf_token %}
								{{form|crispy}}
                                <button class="btn btn-primary"> submit</button>
								<!--end::Action-->
							</form>
							<!--end::Form-->
						</div>
						<!--end::Signin-->
					</div>
					<!--end::Content body-->
					<!--begin::Content footer-->
					
					<!--end::Content footer-->
				</div>
				<!--end::Content-->
				<!--begin::Aside-->
				<div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #FCFFF1;">
					<!--begin::Aside Top-->
					<div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
						
					</div>
					<!--end::Aside Top-->
					<!--begin::Aside Bottom-->
					<div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center" style="background-image: url('{% static 'assets/media/svg/illustrations/features.svg' %}')"></div>
					<!--end::Aside Bottom-->
				</div>
				<!--begin::Aside-->
			</div>
			<!--end::Login-->
		</div>
		{% endblock content %}
		
		{% block javascripts %}
		{{block.super}}
		<script src="{% static 'assets/js/pages/custom/login/login-general.js' %}"></script>
		{% endblock javascripts %}
